<div class='sort_book_list'>
    <div class="fl"><%= t(:sort_by) %></div>
    <div class="sort_button active" data-sort_type="title" data-direction="asc"><%= t(:by_title) %> <span>↑</span></div>
    <div class="sort_button" data-sort_type="name" data-direction=""><%= t(:by_second_name) %> <span></span></div>
    <div class="sort_button" data-sort_type="size" data-direction=""><%= t(:by_file_size) %> <span></span></div>
    <div class="clear"></div>
</div>