<% return unless pagy.pages > 1 %>
<% link = pagy_link_proc(pagy) -%>
<%#                            -%><div class="paginator">
<%#                            -%>  <%= t(:go_to_page) %>:
<% pagy.series.each do |item| %>
<%   if    item.is_a?(Integer) -%>  <%== link.call(item) %>
<%   elsif item.is_a?(String)  -%>  <%= item %>
<%   elsif item == :gap        -%>  ...
<%   end                       -%>
<% end                         -%>
<%#                            -%></div>
